---
import Html from "../icons/Tecnologias/Lenguajes/Html.astro";
import Css from "../icons/Tecnologias/Lenguajes/Css.astro";
import Js from "../icons/Tecnologias/Lenguajes/Js.astro";
import Lua from "../icons/Tecnologias/Lenguajes/Lua.astro";
import Social_icons from "./Social_icons.astro";
import Github from "../icons/Social/Github.astro";
import Link from "../icons/Social/Link.astro";

const TAGS = {
  Lua: {
    name: "Lua",
    class: "bg-[#199689] text-white",
    icon: Lua,
  },
  Html: {
    name: "Html",
    class: "bg-[#963419] text-white",
    icon: Html,
  },
  Css: {
    name: "Css",
    class: "bg-[#07436b] text-white",
    icon: Css,
  },
  Js: {
    name: "Js",
    class: "bg-[#a39535] text-white",
    icon: Js,
  },
};

const PROJECTS = [
  {
    title: "Trucker Job - Inspirado en Euro Truck Simulator",
    description: "Trabajo/empresa de camiones inspirado en Euro Truck Simulator. Cuenta con trabajos rápidos, ofertas con tu propio camión, posibilidad de contratar NPCs, sistema de habilidades, entre otras cosas. En fase beta.",
    link: "https://i.imgur.com/GJDhcT3.png",
    // github: "https://github.com/Pietro923/Programacion",
    image: "/projects/truck.png",
    tags: [TAGS.Lua, TAGS.Html, TAGS.Css, TAGS.Js],
  },
  {
    title: "Sistema reciclaje",
    description: "Sistema de reciclaje intutivo para entretener a los jugadores de una forma realista y apoyando una causa social.",
    link: "https://youtu.be/ttmRmzAw3C0",
    // github: "https://github.com/Pietro923/api-del-clima",
    image: "/projects/basura1.png",
    tags: [TAGS.Lua],
  },
  {
    title: "Rockstar Editor NUI - Free",
    description: "Sistema de reciclaje intutivo para entretener a los jugadores de una forma realista y apoyando una causa social.",
    // link: "https://media.discordapp.net/attachments/1233156999374700638/1233534879241736283/image.png?ex=67c62361&is=67c4d1e1&hm=0b31fc0f74a0a838ce9ac311e96b87ee609daf98411a8680ef44547ae82cfa86&=&format=webp&quality=lossless&width=430&height=959",
    github: "https://github.com/CapiBurger/capi-reditor",
    image: "/projects/reditor1.png",
    tags: [TAGS.Lua, TAGS.Html, TAGS.Css, TAGS.Js],
  },
  {
    title: "Bus Driver Job",
    description: "Trabajo en fase beta desarollado principalmente para ElHérculesRP.",
    link: "https://youtu.be/n_cpexuSZck",
    // github: "https://github.com/Pietro923/Programacion",
    image: "/projects/bus1.png",
    tags: [TAGS.Lua, TAGS.Html, TAGS.Css, TAGS.Js],
  },
];
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col md:flex-row md:space-x-8 space-y-8 md:space-y-0">
      <div class="w-full md:w-1/2 flex items-center group">
        <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl lg:border lg:border-gray-800 group-hover:shadow-2xl">
          <img alt="Captura del Proyecto" class="object-cover object-top w-full h-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 flex flex-col justify-center">
        <h3 class="text-2xl font-bold mb-2">{title}</h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li = {tag.name}>
                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
        </div>

        <div class="mt-2 text-lg mb-4">{description}</div>

        <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <Social_icons href={github}>
              <Github class="size-6" />
              Code
            </Social_icons>
          )}
          {link && (
            <Social_icons href={link}>
              <Link class="size-4" />
              Preview
            </Social_icons>
          )}
        </footer>
      </div>
    </article>
  ))}
</div>
<p class="text-center mt-12 text-gray-300">Si quieres saber más proyectos, escribeme al Discord.</p>
